<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edn.olleego">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="false" />

    <application
        android:name=".common.GlobalFont"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.diary.DiaryActivity" />
        <activity
            android:name=".activity.signup.SignupActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity android:name=".activity.login.EmailActivity" />
        <activity android:name=".activity.login.PasswordHelpActivity" />
        <activity android:name=".activity.OlleegoGymActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQiRG4PkYi_EAQmviW_saupJEfuN69iO0" />

        <activity android:name=".activity.gym.GymDetailActivity" />
        <activity android:name=".activity.mission.MissionActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.mission.MissionCustomStepOneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.mission.MissionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.mission.exmission.ExMissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.mission.exmission.EtcMissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".activity.report.ReportBMIDetailActivity"></activity>
    </application>

</manifest>